<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank</title>
</head>

<body>
  <h1>利息操作</h1>
  <!-- http://loaclhost:3001/ -->
  <form action="/drip" method="POST">
    <input type="text" name="accountAddress" placeholder="账户地址">
    <br><br>
    <input type="radio" name="transactionType" value="drip" checked> 提取利息
    <input type="submit" value="提交">
</body>

</html>