<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
</head>

<body>
    <h1>Bank operation</h1>
    <!-- http://loaclhost:3001/ -->
    <form action="/transaction" method="POST">
        <!-- name 和 transaction、app.js内的字段名一致 -->
        <input type="text" name="accountAddress" placeholder="账户地址">
        <br><br>
        <input type="radio" name="transactionType" value="deposit" checked> 存款
        <input type="radio" name="transactionType" value="withdraw"> 取款
        <br><br>
        <input type="text" name="transactionAmount" placeholder="金额">
        <input type="submit" value="提交">
    </form>
</body>

</html>